*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.brand1{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    color: black;
    transition: 0.3s ease;
    font-weight: 800;
    font-family: "Oswald", sans-serif;
}

.brand1:hover{
    color: rgb(146, 60, 60);
}


.nav-link{
    font-family: "Oswald", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}

.nav-link:hover{
    color: rgb(175, 131, 131);
}

.search{
    height: 40px;
    width: 70%;
    margin-right: -35px;
    border-radius: 60px;
    outline: none;
    font-weight: bolder;
    border: 2px solid red;
}


.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.main {
    background: url(jason-leung-poI7DelFiVA-unsplash\ \(1\).jpg) no-repeat center center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


.main h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
}


@media (max-width: 992px) {
    .main {
        min-height: 70vh;
    }

    .main h1 {
        font-size: 3rem;
    }

    .btn1 {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .main {
        min-height: 60vh;
    }

    .main h1 {
        font-size: 2rem;
    }

    .btn1 {
        width: 80%;
        height: 42px;
    }
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgb(18, 216, 51);
    color: white;
    font-weight: 700;
    transition: all 0.3s ease;
}

.btn1:hover {
    background-color: white;
    color: red;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card1{
    transition: 0.3s ease;
}

.card1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.apple{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/lily-banse--YHSwy6uqvk-unsplash.jpg') no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.icon1 {
  transition: 0.3s;
}

.icon1:hover {
  color: #07ff28 !important;
  transform: scale(1.2);
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
  }
